body {
    background: #F5F5F5
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Futura, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}

p {
    font-weight: 75;
}

/* Header codes */

h1 {
    text-align: center; /* Optioneel: Centreer de tekst */
    color: #F8F8FF;
  }
  
header {
    background-color: #e60000;
    padding: 25px 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
    position: relative; /* Maak de positie relatief om het ::after-element te positioneren */
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #F8F8FF;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s ease; /* Overgang van kleur over 0.5 seconden */
  }
  
  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #000000; /* Kleur van het streepje */
    transition: width 0.3s ease; /* Overgang van breedte over 0.3 seconden */
  }
  
  nav ul li a:hover {
    color: #000000; /* Nieuwe kleur bij hover */
  }
  
  nav ul li a:hover::after {
    width: 100%; /* Streepje wordt zichtbaar bij hover */
  }

  .navigation-container {
    text-align: center; /* Centreer de knoppen */
  }

/* Footerstijlen */

.footer {
  background-color: #CCCCCC; /* Grijze achtergrondkleur */
  padding: 20px 0; /* Verticale padding aanpassen naar wens */
  color: #333; /* Tekstkleur aanpassen voor contrast */
  text-align: center; /* Center de tekst binnen de footer */
  margin-top: auto;
 
}

.container {
  max-width: 1200px; /* Maximale breedte van de container aanpassen naar wens */
  margin: 0 auto; /* Center de inhoud van de footer */
}

.container p {
  margin: 0; /* Reset standaardmarges van de alinea */
}

footer {
  /* Voeg een 1 pixel dikke zwarte rand toe aan de bovenkant van de footer */
  border-top: 1px solid black;
  /* Optioneel: voeg ruimte toe tussen de inhoud van de footer en de rand */
  padding-top: 10px; /* Pas dit aan naar wens */
}

/* Over de club */

.foto1-container {
  position: relative;
  text-align: center;
}

.foto1-afbeelding {
  width: 1250px; /* Stel de gewenste breedte in */
  height: auto;
  transition: transform 0.5s ease; /* Voegt een vloeiende overgang toe bij het schalen van de afbeelding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Schaduw toevoegen aan de afbeelding */

}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; /* Voegt een vloeiende overgang toe bij het tonen van de tekst */
  text-align: center;
  color: white;
}

.foto1-container:hover .foto1-afbeelding {
  transform: scale(1.1); /* Vergroot de afbeelding met 10% wanneer erover wordt gehoverd */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Vergroot de schaduw wanneer erover wordt gehoverd */
}

.foto1-container:hover .image-text {
  opacity: 1; /* Maakt de tekst zichtbaar wanneer erover wordt gehoverd */
}

.text-background {
  background-color: rgba(0, 0, 0, 0.7); /* Achtergrondkleur met 70% doorzichtigheid */
  padding: 10px; /* Ruimte rond de tekst */
  text-align: center;
}

/* Historie */

.kopje {
  text-align: center;
}

h2 {
  padding: 15px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white; /* Witte tekst */
  background-color: rgba(0, 0, 0, 0.7); /* Zwarte achtergrond met opacity */
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3); /* Witte binnenste schaduw */
  transition: all 0.3s ease;
  text-align: center;
}

h2:hover {
  transform: translateY(-5px); /* Maakt een sprongetje omhoog */
  background-color: rgba(0, 0, 0, 0.5); /* Lichtere zwarte achtergrond */
}

h2:active {
  transform: translateY(5px); /* Gaat naar beneden wanneer actief (geklikt) */
}

.video-container {
  text-align: center;

}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.video-container {
  text-align: center;
}

video {
  animation: zoomInOut 6s ease infinite; /* Animatie toevoegen aan het video-element */
  border-radius: 8px;
}




/* Stadion */

.afbeelding-1 {
  display: flex;
  justify-content: space-between;
  width: 300;
}

.afbeelding-1 p {
  padding: 0px 20px 0px;
}

.afbeelding-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 300;
}

.afbeelding-2 p {
  padding: 0px 20px 0px;
  flex-wrap: wrap;
}

.afbeelding-met-effecten {
  border: 2px solid red; /* Dikte, stijl en kleur van de rode rand */
  display: block; /* Afbeeldingen onder elkaar plaatsen */
  margin-bottom: 10px; /* Ruimte tussen afbeeldingen */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Schaduw toevoegen aan de afbeeldingen */
  transition: transform 0.3s ease-in-out; /* Vloeiende overgang voor grootteverandering */
}

.afbeelding-met-effecten:hover {
  transform: scale(1.1); /* Afbeelding 10% vergroten bij hover */
}

#myvideo {
  width: 540;
  height: 260;
}

/* Jeugdopleiding */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stijlen voor de afbeeldingen */
.gallery-item {
  margin: 10px 0; /* Ruimte tussen de afbeeldingen */
  position: relative;
}

.gallery-item img {
  width: 700px; /* Pas de breedte naar wens aan */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out; /* Animatie toegevoegd */
}

/* Animatie bij hover */
.gallery-item img:hover {
  transform: scale(1.1); /* Bij hover vergroot de afbeelding */
}